<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kawowydzienniczek.kawowydzienniczek" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainPageActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activities.CoffeeShopActivity" >
        </activity>
        <activity
            android:name=".Activities.OffersListActivity"
            android:label="@string/title_offersactivity_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.OffersDetailActivity"
            android:label="@string/title_offersactivity_detail"
            android:parentActivityName=".Activities.OffersListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.OffersListActivity" />
        </activity>
        <activity
            android:name=".Activities.PromotionListActivity"
            android:label="@string/title_promotion_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.PromotionDetailActivity"
            android:label="@string/title_promotion_detail"
            android:parentActivityName=".Activities.PromotionListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.kawowydzienniczek.kawowydzienniczek.Activities.PromotionListActivity" />
        </activity>
    </application>

</manifest>
